<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khp.flashcard.app" >
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="14" />
    <application
        android:allowBackup="true"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.khp.flashcard.app.Main"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.Main" />

        </activity>
        <activity
            android:name="com.khp.flashcard.app.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardManager"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.Main" />
        </activity>
        <activity
            android:name=".AddCard"
            android:label="@string/add_card_name"
            android:parentActivityName="com.khp.flashcard.app.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.Main" />
        </activity>
        <activity
            android:name=".ReviewMode"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.ReviewLoad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.ReviewLoad" />
        </activity>
        <activity
            android:name=".ActiveMode"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.ActiveLoad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.ActiveMode" />
        </activity>
        <activity
            android:name=".ReviewLoad"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.Main" />
        </activity>
        <activity
            android:name=".ActiveLoad"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.Main" />
        </activity>
        <activity
            android:name=".LoadPackage"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.AddCard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.AddCard" />
        </activity>
        <activity
            android:name=".SavePackage"
            android:label="@string/app_name"
            android:parentActivityName="com.khp.flashcard.app.AddCard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.khp.flashcard.app.AddCard" />
        </activity>
    </application>

</manifest>
